---
- name: Setup openjdk-r/ppa
  apt_repository:
    repo: 'ppa:openjdk-r/ppa'
  become: true

- name: Install OpenJDK 1.8.0, 1.11 and 1.12
  apt:
    name:
      - openjdk-8-jdk
      - openjdk-11-jdk
      - openjdk-12-jdk
    state: present
    update_cache: 'yes'
  become: true

- name: Set Java path
  set_fact:
    java_path: /usr/lib/jvm/java-1.8.0-openjdk-arm64
