---
- name: Install ppa pre-requsites
  apt:
    name:
      - gnupg2
    state: present
    update_cache: 'yes'
  become: true

- name: Setup openjdk-r/ppa
  apt_repository:
    repo: 'ppa:openjdk-r/ppa'
  become: true

- name: Install OpenJDK 1.8.0, 11 and 12
  apt:
    name:
      - openjdk-8-jdk
      - openjdk-11-jdk
      - openjdk-12-jdk
    state: present
    update_cache: 'yes'
  become: true

- name: Install OpenJDK 17
  apt:
    name:
      - openjdk-17-jdk
    state: present
    update_cache: 'yes'
  become: true
  when:
    - ansible_os_family == "Debian"
    - ansible_distribution_major_version == "11" or ansible_distribution_version == "20.04" or
      ansible_distribution_version == "18.04"

- name: Install OpenJDK 21
  apt:
    name:
      - openjdk-21-jdk
    state: present
    update_cache: 'yes'
  become: true
  when:
    - ansible_os_family == "Debian"
    - ansible_distribution_major_version == "13" or ansible_distribution_version == "20.04" or
      ansible_distribution_version == "22.04"


- name: Set Java path for OpenJDK 11 (non-arm)
  set_fact:
    java_path: /usr/lib/jvm/java-1.11.0-openjdk-amd64
  when:
    - ansible_architecture != "aarch64"

- name: Set Java path for OpenJDK 11 (arm)
  set_fact:
    java_path: /usr/lib/jvm/java-1.11.0-openjdk-arm64
  when:
    - ansible_architecture == "aarch64"
