---
- name: Install Epel Repo
  ansible.builtin.yum:
    name:
      - epel-release
    state: present
  when: ansible_facts['os_family'] == "RedHat"
  become: true

- name: Install OpenJDK 1.8.0, 11
  ansible.builtin.yum:
    name:
      - java-1.8.0-openjdk-devel
      - java-11-openjdk-devel
    state: present
  become: true

- name: Install OpenJDK 17, latest
  ansible.builtin.yum:
    name:
      - java-17-openjdk-devel
      - java-latest-openjdk-devel
    state: present
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version'] == "8"
  become: true

- name: Install OpenJDK 21, latest
  ansible.builtin.yum:
    name:
      - java-21-openjdk-devel
      - java-latest-openjdk-devel
    state: present
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version'] is version('9', '>=')
  become: true

- name: Set Java path for OpenJDK 11
  ansible.builtin.set_fact:
    java_path: /usr/lib/jvm/java-11-openjdk
